div#board {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(10, 130px);
	grid-template-rows: repeat(2, 50%);
}

div.board-style {
	flex: 3;
	margin: 0 auto;
	left: 0;
	right: 0;
}

div.board-field {
	background: white;
	color: black;
	margin: 4px;
	cursor: pointer;
}

div.board-field.

div#screen {
	display: grid;
}

div.character.team-1 {
	background: orangered;
}

div.character.team-2 {
	background: lightblue;
}

div.character > h1 {
	font-size: inherit;
}

div.character > div.stats > div {
	display: inline-block;
	margin: 0 5px;
}

div.character > div.stats > div.HP::after {
	content: 'HP';
}
div.character > div.stats > div.maxHP::before {
	content: '/';
}
div.character > div.stats > div.softAtk::after {
	content: 'SX';
}
div.character > div.stats > div.hardAtk::after {
	content: 'HX';
}
div.character > div.stats > div.mov::after {
	content: 'MV';
}
div.character > div.stats > div.rng::after {
	content: 'RG';
}
div.character > div.stats > div.netWorth::after {
	content: '$';
}

div.character.team-1.img  {
	display: block;
	margin: 10px auto;
	border: 20px red;
	border-radius: 20%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: border-pulsate 5s;
}

@keyframes border-pulsate {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.2);
	}
	70% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}

div.character.team-2.img  {
	display: block;
	margin: 10px auto;
	border: 20px red;
	border-radius: 20%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: border-pulsate 5s;
}

@keyframes text-pulsate {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.2);
	}
	70% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}

div.HP.body {
	color: red;
	animation: text-pulsate 2s;
}
